*.crt
deploy.sh
mongolaboinfo.js
data/mongolabinfo.js
public/css/styles/*.css
node_modules
main.js
data
npm-debug.log
show.html
showdaysController.js
styles.css
index2.html
dayupload.html
codesnips
data/loginmailgun.js
loginmailgun.js
geniza
*.bak
build/js/app/factories
.idea