 <div class = "regSurround">
	<form  name = "regForm" novalidate>

		<i data-ng-click = "User.userViewSwitch='grid' "  
			class="material-icons right small" 
			style ='cursor: pointer;'>clear
		</i>

		<div class='loginDirection'>
			Password Reset for Community Member {{User.username}} 
		</div>
		
		<div class="form group">
			<label class="label-space">Password</label>

			<span class='alertinform' data-ng-model="User.password" data-ng-show ="User.password.length < 5">
			You need {{5-User.password.length}} more characters.
			</span>

			<span class='alertsuccess' data-ng-model="User.password" data-ng-show ="User.password.length > 4">
			Good! Or add more for extra security.
			</span>

			<input class= "form-control"
				id='passwordFirst' 
				type="password" 
				name='password'
				data-ng-model="User.password"
				data-ng-keyup="User.passconfirm(User.password, User.passwordConfirm)"
				placeholder="Enter secret password. Must be 5 characters. "
			required>
		</div>

		<div class="form group">
			<label class="label-space">Password Confirm</label>

			<span class='alertinform' data-ng-model="User.password" data-ng-show ="User.matchingPassword === false">
				Passwords must match.
			</span>				

			<span class='alertsuccess' data-ng-model="User.password" data-ng-show ="User.matchingPassword === true">
			You matched it!
			</span>			

			<input class= "form-control"
			id='passwordConfirm' 
			name='passwordConfirm'
			type="password" 
			data-ng-model="User.passwordConfirm"	
			data-ng-keyup="User.passconfirm(User.password, User.passwordConfirm)"
			placeholder="Reenter password."
			required>
		</div>	

		<div class='spacer' ></div>

		<input  
		data-ng-click="User.changepassword(User); 
					   User.userViewSwitch='profile'; 
					   User.profileSelect('myAccount');"
		class="btn btn-success btn-sm btn-block left" 
		type="submit" 
		value="Reset Password Now"> 

	</form>
</div> 
