<div class = "regSurround">

<i data-ng-click = "User.userViewSwitch='grid';
 					User.profileSelect(null); 
 					"  
		class="material-icons right small" 
		style ='cursor: pointer;'>clear
</i>

<br>

<div class='loginDirection'>
	Login with Facebook.  
	<br>
	<br>
	<span >
			<form data-ng-submit="User.facebook();
								  User.profileSelect('facebook'); ">

			<input class="btn btn-success btn-sm btn-block left" type="submit" value="Facebook"	>
	</span>
</div>

<br>
<br>
<br>
<br>

<!-- <div class='loginDirection'>
	Login with your user name and password.  
	<span class="link" data-ng-click=" User.userViewSwitch='profile'; 
									   User.LoginError = false;
									   User.profileSelect('NEWREG');   ">
									    Register?</span>
</div> -->



<div class='loginDirection'>
	Login with User Name and Password 

<form>

	<div class="form group">
 

	<div class="form group">
 		<input class= "form-control" type="text" 
 					placeholder="User Name"
					ng-model="User.username">
	</div>

	
		<input class= "form-control" type="password" placeholder="Password"
					ng-model="User.password">
	</div>
	
	<input data-ng-click="User.userViewSwitch='grid'; 
					  	  User.login();"
			class="btn btn-success btn-sm btn-block left" 
			type="submit" value="Login">
	<br>
	<br>
	<div class="alertwarn" 
		data-ng-show="User.LoginError === true">
		Unknown user name or password.
	</div>
 
</form>	
<br>
<br>


<div class='loginDirection'>
			Forgot Username or Password?

<br>
<br>
 	<span>
		<form data-ng-submit="User.profileSelect('recoverPassword'); ">

		<input  
			class="btn btn-success btn-sm btn-block left" 
			type="submit" value='Click to Recover' ">
	</span>
	</div>
 <br>
 

 



 
</div>



 