The Perfect Day allows users to record and share places they visited on a perfect day.
<br><br>
You can start by creating an account and then, after verifying your email address, logging in and clicking "Create New Day" in the top menu bar.
<br><br>
The Perfect Day is a MEAN stack SPA, built using Node.js, Angular 1, Express and MongoDB.
<br><br>Additionally, it uses jQueryUI, Materialize, Angular UI and SCSS for styling.
<br><br>It includes RESTful APIs to access MongoDB and also uses the Google Maps API to retrieve map locations and photos of locations.
<br><br>Behind the scenes are directives - to place the relevant sections on the page - and a Gulp file that compiles and minifies SCSS and JavaScript, builds sourcemaps and watches the code for changes.
<br><br>The code for A Perfect Day can be found on <a href="https://github.com/wbeck32/daybreak" style="text-decoration:underline;">Github</a>.
