<div class-"navbar-fixed">
	<nav>
		<div class = "nav-wrapper">

				<a><div class="brand-logo"
										data-ng-click="Day.getUserProfile(null);
													   User.profileMode=null;
													   User.userViewSwitch='grid';
													   User.userMessage=null;
														">
					 The Perfect Day</div>
				</a>

				<a href="#" data-activates="slide-out" class="button-collapse right">
					<i class="material-icons">menu</i>
				</a>


			<!--nav bar menu-->

			<ul class="right hide-on-med-and-down">
				<li><a data-ng-click="Day.getUserProfile(null);
											User.profileMode=null;
											User.userViewSwitch='grid';
											User.userMessage=null;">
							Home
					</a></li>

					<li><a data-ng-show="User.userState==='loggedIn'"
								data-ng-click="User.userAddDay = true;
								User.userViewSwitch = 'single';">
							Create New Day
					</a></li>

					<li><a data-ng-show="User.userState==='loggedOut'"
							data-ng-click="User.userViewSwitch ='profile';
										   User.profileSelect('NEWREG');
										   User.userMessage=null";>
							Register
					</a></li>

					<li><a data-ng-show="User.userState==='loggedIn'"
						   data-ng-click="Day.getUserProfile(User.username);">
							Welcome {{User.username}}!
					</a></li>

					<li><a data-ng-show="User.userState==='loggedIn'"
						   data-ng-click="Day.getUserProfile(null);
											User.signOut();
											User.userMessage=null;">
							Logout
					</a></li>

					<li><a data-ng-show="User.userState==='loggedOut'"
						data-ng-click="User.userViewSwitch='profile';
										User.LoginError = false;
										User.profileSelect('Log');
										User.userMessage=null;">
							Login
					</a></li>
				</ul>


			<!--side slideout menu-->

				<ul class="side-nav side-nav-control" id="slide-out" >

					<br>

					<li><a
							data-ng-click="Day.getUserProfile(null);
												User.profileMode=null;
												User.userViewSwitch='grid';
												User.userMessage=null;
											   ">
						Home
					</a></li>

					<li><a  data-ng-show="User.userState==='loggedIn'"
							data-ng-click="User.userAddDay = true;User.userViewSwitch = 'single';" >
						Create New Day
					</a></li>


					<li><a
							data-ng-show="User.userState==='loggedOut'"
							data-ng-click="User.userViewSwitch ='profile';
											   User.profileSelect('NEWREG');
											   User.userMessage=null; ">
						Register
					</a></li>


					<li><a data-ng-show="User.userState==='loggedIn'"
						   data-ng-click="Day.getUserProfile(User.username);">
						Welcome {{User.username}}!
					</a></li>

					<li><a data-ng-show="User.userState==='loggedIn'"
						   data-ng-click="Day.getUserProfile(null);
												User.signOut();
												User.userMessage=null;" >
						Logout
					</a></li>

					<li><a data-ng-show="User.userState==='loggedOut'"
						   data-ng-click="User.userViewSwitch='profile';
											User.LoginError = false;
											User.profileSelect('Log');
											User.userMessage=null;  ">
						Login
					</a></li>



				</ul>
			<!-- <div class="fb-share-button" data-href="http://perfectdaybreak.com:8090" data-layout="button" style=" 1px solid grey;" ></div>  -->
		</div>
	</nav>
</div>

<script>
	$(document).ready(function() {

		$('.button-collapse').sideNav({
			menuWidth: 200, // Default is 240
			edge: 'right', // Choose the horizontal origin
			closeOnClick: true
		});
	});
</script>
