<div class="navbar-fixed"  >
	<nav class='valign-wrapper'>

 			<a><div class="left button-collapse left-align title"
									data-ng-click="Day.getUserProfile(null);
												   User.profileMode=null;
												   User.userViewSwitch='grid';
												   User.userMessage='';
 													">				               
				 Daybreak</div> 
			</a>
			
 				

 	  	<div class="container" >
			<ul class='right hide-on-small-and-down button-collapse right-align'>

				<li><a><div 
						data-ng-click="Day.getUserProfile(null);
										User.profileMode=null;
						    			User.userViewSwitch='grid';
						    			User.userMessage=null;
						               ">
						Home  
						</div>
				</a></li>
			
				<li><a  data-ng-show="User.userState==='loggedIn'"
					    data-ng-click="User.userAddDay = true;User.userViewSwitch = 'single';" >
		 			  	Create New Day  					  
 				</a></li>	
				

			  	<li><a	data-ng-show="User.userState==='loggedOut'"
			  	  		data-ng-click="User.userViewSwitch ='profile'; 
			  	  					   User.profileSelect('NEWREG');
			  	  					   User.userMessage='' "> 
			  	  		Register 
			  	</a></li>


				<li><a data-ng-show="User.userState==='loggedIn'" 
					   data-ng-click="Day.getUserProfile(User.username);">
			  			&nbsp;-&nbsp;{{User.username}}&nbsp;-&nbsp;
				</a></li>

				<li><a data-ng-show="User.userState==='loggedIn'" 
					   data-ng-click="Day.getUserProfile(null); 
					   					User.signOut();
					   					User.userMessage=null;" > 
		 		  		Logout  
		 		</a></li>

				<li><a data-ng-show="User.userState==='loggedOut'" 
					data-ng-click="User.userViewSwitch='profile'; 
									User.LoginError = false;
									User.profileSelect('Log'); 
									User.userMessage=null;  ">
				  		Login  
				</a></li>	

		   	</ul>


<div class="fb-share-button" data-href="http://perfectdaybreak.com:8090" data-layout="button" style=" 1px solid grey;" ></div> 


					 
				 
	  	</div>
	</nav> 
</div>  
