<!-- <div data-ng-controller= "userController as User">  -->   

<div class="navbar-fixed">

	<nav>
		<div id = "titleGraphic">Daybreak</div>
 	  	<div class="container" >

 	  		
			<ul class='right hide-on-small-and-down button-collapse'>

				<li><a><div 
						data-ng-click="User.userViewSwitch = 'grid';
 						               User.userFormView   = 'hide'; 
						               User.userService.init(completeInit);">
						Home  
						</div>
				</a></li>
			
				<li><a  data-ng-show="User.userState==='loggedIn'"
					    data-ng-click="User.userViewSwitch='single';" >
		 			  	Create New Day  
					  
 				</a></li>	
				

			  	<li><a	data-ng-show="User.userState==='loggedOut'"
			  	  		data-ng-click="User.userViewSwitch ='profile'; 
			  	  					   User.userFunction='NEWREG'; "> 
			  	  		Register 
			  	</a></li>


				<li><a data-ng-show="User.userState==='loggedIn'" 
					   data-ng-click="User.userViewSwitch ='profile';
					   				  User.userFunction='Myaccount';">
			  			My Account
				</a></li>


				<li><a data-ng-show="User.userState==='loggedIn'" 
					   data-ng-click="User.signOut()" > 
		 		  		Logout  

		 		</a></li>

				<li><a data-ng-show="User.userState==='loggedOut'" 
					data-ng-click="User.userViewSwitch='profile'; 
									User.LoginError = false;
									User.userFunction='Log'; ">
				  		Login  
				</a></li>	

				<li><a data-ng-show="User.userState==='loggedOut'" 
					data-ng-click="User.userViewSwitch='profile'; 
									User.LoginError = false;
									User.userFunction='Log'; ">
				  		<div class='joinMessage'> Share Your Favorite Day!  </div>
				</a></li>	

			 

		   	</ul>
	  	</div>
	</nav>


 
</div>  
