
<div class = "regSurround">
 	<div class='loginDirection'>About {{Day.dayUserName}} </div>

 		<i data-ng-click = "User.userViewSwitch='grid';
							User.userService.init(completeInit);
							Day.viewEditUserDays(null); " 
							  
			class="material-icons right small" 
			style ='cursor: pointer;'>clear
		</i>

 		<div class ="userProfile">
		<div data-ng-show="User.userState==='loggedIn' ||  User.userState==='loggedOut' ">
			<div class="profilePublic">
				<div class="userProfile" >
 
			  			<div class='profileLabel' >Name:
			  				<span class='profileInfo' id='pname'>&nbsp; &nbsp; {{Day.otherusername}}</span>
			  			</div>

			  			<div class='profileLabel' >Member since:&nbsp;&nbsp;  
			  				<span class='profileInfo' id='pdate'>{{Day.othercreated}}</span>
			  			</div>

						<div class="profileLabel">About Me:	&nbsp; &nbsp; {{ Day.otheruserabout}}
 						</div>
		  			 
				</div>
			</div>				
		</div>  
	</div>
		  		 
<p>Days Created by {{Day.dayUserName}} </p>
<grid-day-view></grid-day-view>

</div> 