<!-- <!DOCTYPE html>
<h3>Perfect Daybreak - Password Reset</h3>
<h3>Once you reset your password, you will be returned to DayBreak, where you can log in with your new information</h3>
<form action="" method="post">
  <label for="passwordreset">Password: </label>
  <input name="passwordreset" placeholder="Enter new password">
  <label for="passwordresetverify">Verify Password: </label>
  <input name="passwordresetverify" placeholder="Enter password again">
  <input type="submit" value="Submit">
</form> -->