<div class = 'regSurround'>

<h3>About Daybreak - Perfect Day</h3>

    <p>Daybreak is a technology demonstration project by Wendy Beck and Miles Hochstein, based on an idea by Cris Kelly.</p>
    <p>Daybreak was developed in 2015 to showcase our skills in AngularJS, Node, Javascript and related MEAN stack technologies.</p>
    <p>A partial list of technologies deployed includes: </p>
    <p>&bull;&nbsp;AngularJS </p>
    <p>&bull;&nbsp;NodeJS </p>
    <p>&bull;&nbsp;Google Maps API and Google Location Services </p>
    <p>&bull;&nbsp;Javascript </p>
    <p>&bull;&nbsp;CSS/SCSS </p>
    <p>&bull;&nbsp;Mongoose </p>
    <p>&bull;&nbsp;Mongo Database (Native and MongoLabs)</p>
    <p>&bull;&nbsp;Mailgun </p>
    <p>&bull;&nbsp;Ubuntu on Digital Ocean </p>
    <p>...and more. </p>

    <p>Daybreak is available for account creation and use on a limited demonstration basis.</p>

<h3> Privacy Policy </h3>
    <p>This privacy policy sets out how “Daybreak” uses and protects any information that you give “Daybreak” when you use this website.</p>

<p>“Daybreak” is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>

<p>“Daybreak” may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from October 1, 2015.</p>

<h5>What we collect</h5>

<p>We may collect the following information:</p>

<p>&bull;&nbsp; Your email address, username and password and any other information you volunteer in the course of routine site use. </p>

<h5>What we do with the information we gather</h5>

<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>

<p>&bull;&nbsp;Internal record keeping.</p>

<p>&bull;&nbsp;We may use the information to improve our products and services.</p>

<p>&bull;&nbsp;We may periodically send promotional email about new products, special offers or other information which we think you may find interesting using the email address which you have provided. </p>

<p>&bull;&nbsp;From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail.</p>

<p>&bull;&nbsp;We may use the information to customize the website according to your interests.</p>

<p>&bull;&nbsp;We may provide your information to our third party partners for marketing or promotional purposes.</p>

<p>&bull;&nbsp;We will never sell your information.</p>

<h5>Security</h5>

<p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>


<h5>How we use tokens</h5>

<p>A token is a small file that identifies you to our server.  When you create an account and login we place a token on your browser's local storage, enabling you to remain logged in for a period of time without re-entering your name and password.     </p>


    <h5>Links to other websites</h5>

<p>Our website may contain links to enable you to visit other websites of interest easily. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
 

<h5>Controlling your personal information</h5>

<p>The information you share with Daybreak remains available to the public, unless you hide it or delete your account</p>

    <p>Hidden or deleted information may be retained in our archival files, but will no longer be available on the public facing website.</p>



