<div class = "regSurround">
	<i data-ng-click = "User.userViewSwitch=null; User.userViewSwitch='grid'; "  
		class="material-icons right small" 
		style ='cursor: pointer;'>clear
	</i>

	<form 	data-ng-submit="User.passwordreset(User.knownemail)">	

		<div class="form group">
			<label></label>
			<input class= "form-control" 
			type="text" 
			placeholder="Forgot Password? Enter E-Mail Used to Register Your Account"
			data-ng-model="User.knownemail">
		</div>

		<div class='spacer'></div>

		<input 
			class="btn  btn-sm btn-block left"
			type="submit" 
			value="Send Password Reset Link">
		</input>
	</form>
</div>
	<br><br><br>

			 

		 	 