
<div class = "regSurround">

	<div class='loginDirection'>About Your Account</div>

 		<i data-ng-click = "User.userViewSwitch='grid';
							User.userService.init(completeInit);
							Day.viewEditUserDays(null); " 
			class="material-icons right small" 
			style ='cursor: pointer;'>clear
		</i>

 		<div class ="userProfile">
			<div data-ng-show="User.userState==='loggedIn' ">
				<div class='publicPrivateLabel'>Public
				</div>
				<div class="profilePublic">
					<div class="userProfile" >
						<form  	name = "aboutForm" 
								novalidate >

				  			<div class='profileLabel' >Name:
				  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  				<span class='profileInfo' id='pname'>{{User.username}}</span>
				  			</div>

				  			<div class='profileLabel' >Member since:&nbsp; 
				  				<span class='profileInfo' id='pdate'>{{User.created}}</span>
				  			</div>

							<div class="profileLabel">About Me:	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<!-- <div class = 'textareabox'>

									<textarea style = 'border: 1 solid grey;'
									rows = '3'  
									data-ng-model="User.userAbout"
									placeholder="My perfect day would be... (140 characters)"
									required>
									</textarea>
								 </div>-->

								<input data-ng-model="User.userAbout"
									class='profileAbout'   > 
				  				</input>

								<!-- <input  data-ng-submit="User.updateUserInfo()"
									class="waves-effect waves-light btn right"
									type="submit" 
									value="Save" > -->
							</div>
						</div>
					</div>


					<div class='publicPrivateLabel'>Private</div>

					<div class= 'profilePrivate' >

				  			<div class='profileLabel'>Change E-mail? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					  			<input data-ng-model="User.email"
								class='profileInfo'   > 
				  				</input>
								
								<div  
				  				class="btn btn-sm btn-block right" 
				  				data-ng-click="User.emailreset(User.email)">
				  				Submit - Check E-mail
				  				</div> 
							
							</div>
				  			
				  			<br> 
				  			
				  		
				  			<div class ='profileLabel'>Password:&nbsp;
				  				<span class='profileInfo' id='pname'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; &nbsp;
				  				</span>

				  				<span class="btn btn-sm btn-block right" 
				  				data-ng-click="User.profileSelect('passwordreset')">Change Password?</span> 
				  			</div>
							
							<br>

							<div class ='profileLabel'>				
								<div class='deleteaccount'>
								 
								<input  
									data-ng-click=" User.profileSelect('deleteaccount');"
									
									class="btn btn-success btn-sm btn-block left red" 
									type="submit" 
									value="Delete Account"> 

								</div>	
							</div>	

				  	</div>  			
				</br>

				
			</div> <!--   end ngshow -->
		</div>
		  		 
<p> My Days - {{User.username }}</p>
<grid-day-view></grid-day-view>

</div> 