<div class="searchForm">

 		<div data-ng-controller="tagController as Tag"> <!-- tag controller begin -->
			<div class="tagFrame">    <!--  tag search begin -->

				<form ng-submit=Tag.findTag(Tag.tag)>
 						<input  data-ng-model="Tag.tag"
						class= "form-control"
						type="text"
			 			placeholder="Enter search words, separated by spaces. (Example: Portland hiking restaurant.)"
						required>
				</form>
<div>
						<a
			 			data-ng-click="Tag.findTag(Tag.tag)"
			 			class="waves-effect waves-light btn"
						type="submit">Search
						<span class="glyphicons search"><img src="/images/glyphicons-search-wht.png"></span>
						</a>

						<a
			 			data-ng-click="Tag.findTag();Tag.tag = ''"
			 			class="waves-effect waves-light btn"
						type="submit">Show all days
						<span class="glyphicons globe"><img src="/images/glyphicons-globe-wht.png"></span>
						</a>

            <span class ="searchResultsMessage">
              {{Day.searchResultsMessage}}
              <span class="resultCount" data-ng-show="Day.searchResultLength == 1">
                {{Day.searchResultLength }} Result
              </span>
              <span class="resultCount" data-ng-show="Day.searchResultLength > 1">
                {{Day.searchResultLength }} Results
              </span>

            </span>
</div>
			</div>  <!--  tag search end -->
