	<div class = 'surround'>	
		
		<div class = 'userContainer' 
		data-ng-show= "User.userViewSwitch !== null " >

			<div  data-ng-show= "User.userViewSwitch === 'profile' " >
				<div id='login' ng-switch on="User.userFunction">
					<div ng-switch-when='Log' >
						<div class='loginDirection'>
							Login with your Facebook account.

							<input class="btn btn-success btn-sm btn-block right" type="submit" value="*Facebook*"	>
						</div>
					</div>
				</div>
			</div>

 
			<div class= 'spacer'> </div>


			<div id='login' ng-switch on="User.userFunction">
				<div ng-switch-when='Log' >

					<i data-ng-click = "User.userViewSwitch=null "  
							class="material-icons right small" 
							style ='cursor: pointer;'>clear
					</i>


					<div class='loginDirection'>
						Login with your user name and password.  
						<span class="link" data-ng-click="User.userViewSwitch='profile';
														  User.userFunction='NEWREG'; ">
														  Register?</span>
					</div>

					<form data-ng-submit="User.login()">


						<div class="form group">
							<label class="label-space">User Name</label>
							<input class= "form-control" type="text" ng-model="User.username">
						</div>

						<div class="form group">
							<label class="label-space">Password</label>

							<span class="alertwarn" 
							data-ng-show="User.LoginError === true">
							Unknown user name or password.</span>

							<input class= "form-control" type="password" ng-model="User.password">

						</div>
						
						
						<div class='spacer'></div>

						<input class="btn btn-success btn-sm btn-block right" type="submit" value="Login"	>

					</form>
				</div>
 
				<div class='closeModal' data-ng-show="User.userFunction==='Log' ">
 					<a data-ng-click=" User.userFunction='recoverPassword'; ">
 									  Forgot Username or Password</a>
				</div>
			</div>

			


			<div id='NEWREGISTER' data-ng-switch on='User.userFunction'>
		   		<div data-ng-switch-when="NEWREG">
					<form 
						data-ng-submit="User.registerValidUser(User)"
 						name = "regForm" 
						novalidate>

						<i data-ng-click = "User.userViewSwitch=null "  
							class="material-icons right small" 
							style ='cursor: pointer;'>clear
						</i>

						<div class='loginDirection'>
							Register 

							<span class="link" data-ng-click="User.userViewSwitch = 'profile';
															  User.userFunction='NEWREG'; ">
															  (or Login with Facebook)</span>
  						</div>
						
			

						<div class="form group">
							<label class="label-space">Username</label>

								<span class="alertinform" data-ng-show="User.username.length < 6">
								You need {{6-User.username.length}} more character(s).
								</span>

								<span class="alertinform" data-ng-show="User.uniqueUserName===false">
								User name already in use. <span class="link" data-ng-click="User.userViewSwitch = 'Log'">Login?</span>
								</span>

								<span class="alertsuccess" data-ng-show="User.uniqueUserName===true && User.username.length > 5">
								You are the only one.  
								</span>



							<input class= "form-control" 
							type="text"
 							data-ng-model="User.username"
  							data-ng-change="User.checkthename(User.username)" 
							placeholder="Six character minimum. Public."
 							required>				
						</div>   
  
						<div class="form group">
							
							<label class="label-space">E-Mail</label>

							<span class="alertinform" 
							ng-show="regForm.email.$error.email">
    						Please enter a valid email.</span>

							<span class="alertsuccess" 
							ng-show="!regForm.email.$error.email && 
							User.uniqueEmail === true &&
							User.email.length > 1" >
    						Looks possible.</span>

     						<span class="alertinform" 
    						data-ng-show="regForm.email.$valid && 
    						User.uniqueEmail === false  ">
 							E-mail exists. <span class="link" data-ng-click="User.userViewSwitch = 'Log'">Login?</span>
  							</span>

							<input class= "form-control"
							id="emailConfirm" 
							type="email"
							name="email"
							data-ng-model="User.email"	
							data-ng-keyup="User.checktheemail(User.email)" 

							placeholder="Required for password recovery.  Private."
							required>
 
						</div>

						<div class="form group">
							<label class="label-space">Password</label>

							<span class='alertinform' data-ng-model="User.password" data-ng-show ="User.password.length < 5">
							You need {{5-User.password.length}} more characters.
  							</span>

						
							<span class='alertsuccess' data-ng-model="User.password" data-ng-show ="User.password.length > 4">
							Good! Or add more for extra security.
  							</span>

							<input class= "form-control"
							id='passwordFirst' 
							type="password" 
							name='password'
							data-ng-model="User.password"

 							data-ng-keyup="User.passconfirm(User.password, User.passwordConfirm)"
 
 							placeholder="Enter secret password. Must be 5 characters. "
							required>
						</div>

						<div class="form group">
							<label class="label-space">Password Confirm</label>

							<span class='alertinform' data-ng-model="User.password" data-ng-show ="User.matchingPassword === false">
 							Passwords must match.
  							</span>				

  							<span class='alertsuccess' data-ng-model="User.password" data-ng-show ="User.matchingPassword === true">
 							You matched it!
  							</span>			

							<input class= "form-control"
							id='passwordConfirm' 
							name='passwordConfirm'
							type="password" 
							data-ng-model="User.passwordConfirm"	
 							data-ng-keyup="User.passconfirm(User.password, User.passwordConfirm)"
							placeholder="Reenter password."
							required>
						</div>	
		
 						<div class='spacer' ></div>

						<input  
 						data-ng-hide=
						"User.newRegValuesAllGood(User) === false ||
						regForm.email.$error.email  ||
						User.email.length === error" 
						class="btn btn-success btn-sm btn-block" 
						type="submit" 
						value="Register Now!"> 

					</form>
				</div>
		 	</div>
		 

			<div id='changepassword' data-ng-switch on='User.userFunction'>
		   		<div data-ng-switch-when="passwordreset">

					<i data-ng-click = "User.userViewSwitch=null "  
						class="material-icons right small" 
						style ='cursor: pointer;'>clear
					</i>
					
					<form 
						data-ng-submit="User.changepassword(User)" 
						novalidate>

						<div class='loginDirection'>
							Password Change 
						</div>
						 
						<div class="form group">

							<label class="label-space">Password</label>

							<span class='alertinform' data-ng-model="User.password" data-ng-show ="User.password.length < 5">
							You need {{5-User.password.length}} more characters.
  							</span>
						
							<span class='alertsuccess' data-ng-model="User.password" data-ng-show ="User.password.length > 4">
							Good! Or add more for extra security.
  							</span>

							<input class= "form-control"
							id='passwordFirst' 
							type="password" 
							name='password'
							data-ng-model="User.password"

 							data-ng-keyup="User.passconfirm(User.password, User.passwordConfirm)"
 
 							placeholder="Enter secret password. Must be 5 characters. "
							required>
						</div>

						<div class="form group">
							<label class="label-space">Password Confirm</label>

							<span class='alertinform' data-ng-model="User.password" data-ng-show ="User.matchingPassword === false">
 							Passwords must match.
  							</span>				

  							<span class='alertsuccess' data-ng-model="User.password" data-ng-show ="User.matchingPassword === true">
 							You matched it!
  							</span>			

							<input class= "form-control"
							id='passwordConfirm' 
							name='passwordConfirm'
							type="password" 
							data-ng-model="User.passwordConfirm"	
 							data-ng-keyup="User.passconfirm(User.password, User.passwordConfirm)"
							placeholder="Reenter password."
							required>
						</div>	
		
 						<input  
 						data-ng-show ="User.matchingPassword === true" 
						class="btn btn-success btn-sm btn-block" 
						type="submit" 
						value="Save New Password"> 

					</form>
				</div>
		 	</div>




			<div id='passwordreset' 
				data-ng-switch on='User.userFunction'
				data-ng-submit="User.resetPassword()">

				<div data-ng-switch-when='recoverPassword'>

					<i data-ng-click = "User.userViewSwitch=null "  
						class="material-icons right small" 
						style ='cursor: pointer;'>clear
					</i>

					<form 
					data-ng-submit="User.passwordreset(User.knownemail)">	

						<div class="form group">
							<label>Forgot Password? Enter E-Mail Used to Register Your Account</label>
							<input class= "form-control" 
							type="text" 
							data-ng-model="User.knownemail">
						</div>

						<div class='spacer'></div>

						<input 
							class="btn  btn-sm btn-block left"
							type="submit" 
							value="Send Password Reset Link">
						</input>
					</form>
					<p></p>
				</div>
		 	</div>



 
			<div id='deleteaccount' 
				data-ng-switch on="User.userViewSwitch">

				<div data-ng-switch-when='deleteaccount'>

					<i data-ng-click = "User.userViewSwitch=null "  
						class="material-icons right small" 
						style ='cursor: pointer;'>clear
					</i>

					<form 
					data-ng-submit="User.deleteaccount(User.username)">	

						<!-- Switch -->
						  <div class="switch">
						    <label>
						      No
						      <input type="checkbox">
						      <span class="lever"></span>
						      Yes
						    </label>
						  </div>
						
						<br>

						<div class="form group">
							<label>Delete this account?</label>
						</div>

						<div class='spacer'>We're sorry to see you go!</div>


						<input 
						class="btn  btn-sm btn-block left"
						type="submit" 
						value="Permanently Delete Account">
						</input>

					</form>
 				</div>
		 	</div>


			<div id='deleteaccountMessage' 
				data-ng-switch on='User.userViewSwitch' >

				<div data-ng-switch-when='deleteaccountMessage'>

					<i data-ng-click = "User.userViewSwitch=null "  
						class="material-icons right small" 
						style ='cursor: pointer;'>clear
					</i>

 					<div> Account Deleted </div>

 				</div>
		 	</div>






	   		<div id='about' data-ng-switch on="User.userFunction">

				<div data-ng-switch-when='myAccount' >
		 	 		<div class='loginDirection'>About Your Account</div>

		 	 		<i data-ng-click = "User.userViewSwitch=null "  
						class="material-icons right small" 
 						style ='cursor: pointer;'>clear
					</i>

		 	 		<div class ="userProfile">
						<div data-ng-show="User.userState==='loggedIn' ">

							<div class='publicPrivateLabel'>Public</div>

							<div class="profilePublic">

								<form  	data-ng-submit="User.updateUserInfo()"
										name = "aboutForm" 
										novalidate >

									<div class="userProfile" >

							  			<div class='profileLabel' >Name:
							  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							  				<span class='profileInfo' id='pname'>{{User.username}}</span>
							  			</div>

							  			<div class='profileLabel' >Member since:&nbsp; 
							  				<span class='profileInfo' id='pdate'>{{User.created}}</span>
							  			</div>
 
										<div class="profileLabel">About Me:	
										 	 
											<textarea class='textarea' 
											rows='6' maxlength='150' 
											
			 								data-ng-model="User.userAbout"
											placeholder="My perfect day would be... (140 characters)"
											required>

											</textarea>
										</div>
												
										
						  			</div>

									<input  

										class="waves-effect waves-light btn"
										type="submit" 
										value="Save">

								</div>


								<div class='publicPrivateLabel'>Private</div>

								<div class= 'profilePrivate'>

							  			<div class='profileLabel'>Current Registered Email - Enter New Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 							  				<input data-ng-model="User.email"
 											class='profileInfo'   > 
							  				 </input>

							  				</br><br>

							  				<div  
							  				class="btn btn-sm btn-block left" 
							  				data-ng-click="User.emailreset(User.email)">
							  				Submit Request - Check Your Email</div> 
										
										</div>
							  			
							  			<br>
							  			<br>
							  		
							  			<div class ='profileLabel'>Password:&nbsp;
							  				<span class='profileInfo' id='pname'>  ******** &nbsp;
							  				</span>

							  				<span class="btn btn-sm btn-block right" 
							  				data-ng-click="User.userFunction='passwordreset'">Change Password?</span> 
							  			</div>
							  	</div>  
								
							</br>


							<div class='closeModal' 
								data-ng-show="User.userViewSwitch==='profile' ">
									<a data-ng-click="User.userFunction='deleteaccount' ">
 								Delete account?					
								</a>
							</div>	


		
  						</div> <!--   end ngshow -->
					</div>
		  		</div>  	
			</div>




		</div>
	</div>	