<div>
	<nav class = 'navbar navbar-default'>

		<div id = "titleGraphic">
			Daybreak
		</div>

	  	<div class="container">
			<ul class='nav navbar-nav'>

				<li><a><div
						data-ng-click="userViewSwitch ='None' ">
						Home
						</div></a></li>

				<li><a data-ng-show ="User.userState==='loggedIn'"
			 			data-ng-click="User.signOut();
			 						   User.userViewSwitch='None';
			 						   User.profileSelect('grid') " >
		 		  		Logout
		 		  		</a></li>

				<li><a 	data-ng-model="userViewSwitch"
				  		data-ng-show="User.userState==='loggedOut'"
				  		data-ng-click="userViewSwitch='Log' ">
				  		Login
				  		</a></li>

				<li><a	data-ng-show="User.userState==='loggedOut'"
			  	  		data-ng-click="userViewSwitch ='Reg' ">
			  	  		Register
			  	  		</a></li>

				<li><a><div
			   	  		data-ng-model="User"
			  	  		data-ng-show="User.userState==='loggedIn'" >
			  			Welcome: {{User.username}}
				  		</div></a></li>

				<li><a  data-ng-show="User.userState==='loggedIn'"
			  	  		data-ng-click="userViewSwitch ='Myaccount' " >
			  			My Account
				  		</a></li>
		   	</ul>
	  	</div>
	</nav>




	<div class = 'surround'>
		<div class = 'userContainer'
				data-ng-show="
					(User.userState ==='loggedOut' &&
					(userViewSwitch === 'Log' ||
					 userViewSwitch === 'Reg'  ||
					 userViewSwitch === 'Reset' ) )
					||
				 	(User.userState ==='loggedIn' &&
					 userViewSwitch ==='Myaccount')">

			<div id='login' ng-switch on="userViewSwitch">
				<div ng-switch-when='Log' >
					<form data-ng-submit="User.login() "
						  >

						<div class="form group">
							<label>Username</label>
							<input class= "form-control" type="text"
							ng-model="User.username">
						</div>

						<div class="form group">
							<label>Password</label>
							<input class= "form-control" type="password" ng-model="User.password">
						</div>
						<p></p>
						<input class="btn btn-success btn-sm btn-block" type="submit" value="Login">
					</form>
					<p></p>
				</div>

				<!-- Must be outside of ng-switch-when! -->
				<div class='closeModal'
					 data-ng-show="userViewSwitch==='Log' ">
 					<a
	 					data-ng-click="userViewSwitch='Reset' ">
						Reset Password
					</a>
				</div>
			</div>



		   	<div id='register'
		   			ng-switch on='userViewSwitch'
 		   			>
		   		<div ng-switch-when='Reg' >
					<form
						data-ng-submit="User.registerValidUser()"
 						name = "regForm"
						novalidate>

						<div class="form group">
							<label>Username</label>
							<input class= "form-control"
							type="text"
							data-ng-blur="User.checkUsername()"
 							data-ng-model="User.username"
 							placeholder="5 character minimum">
						</div>

						<div class="form group">
							<label>Password</label>
							<input class= "form-control"
							id='passwordFirst'
							type="password"
							name='password'
							data-ng-model="User.password"
							placeholder="Enter password">
						</div>

						<div class="form group">
							<label>Password Confirmation</label>
							<input class= "form-control"
							id='passwordConfirm'
							name='passwordConfirm'
							type="password"
							data-ng-model="User.passwordConfirm"
							placeholder="Reenter password">
						</div>

						<div class="form group">
							<label>E-Mail</label>
							<input class= "form-control"
							type="text"
							data-ng-blur="User.checkEmail()"
							data-ng-model="User.email"
							placeholder="Required for password recovery.">
						</div>

						<div >
							<p>username is: 		{{User.username}}</p>
							<p>email is   : 		{{User.email}}</p>

							<p>duplicateusername is: {{User.duplicateusername}}</p>
							<p>duplicateemail is:	 {{User.duplicatemail}}</p>

							<p>cheatnamepass is:  {{cheatnamepass}}</p>

							<p> regForm.$invalid 	 {{regForm.$invalid}} </p>


						</div>

						<input
						data-ng-disabled="
						regForm.$invalid  			||
						(User.password != User.passwordConfirm)"
						class="btn btn-success btn-sm btn-block"
						type="submit"
						value="Register Now">


						<div class="errMsg"
						data-ng-if="User.duplicateemail">
						E-mail already in use. Recover password now?</div>

						<div class="errMsg"
						data-ng-if="User.duplicateusername">
						User name already in use.</div>

       			<div class="errMsg"
       			data-ng-if="User.password !== User.passwordConfirm
       			&& regForm.passwordConfirm.$touched">
       			Password confirmation does not match.</div>

					</form>
				</div>
		 	</div>

			<!-- <div id='resetPassword' ng-switch on='userViewSwitch'>
				<div ng-switch-when='Reset'>
					<form
					data-ng-submit="User.resetPassword()">
						<div class="form group">
							<label>Forgot Password? Enter E-Mail</label>
							<input class= "form-control"
							type="text"
							ng-model="User.email">
						</div>
						 <p></p>
						<input class="btn btn-success btn-sm btn-block" type="submit" value="Send Password Reset Link"></input>
					</form>
				</div>
		 	</div> -->

	   		<div id='about' ng-switch on="userViewSwitch">
				<div ng-switch-when='Myaccount' >
		 	 		<p>About Your Account</p>

		 	 		<div class ="userProfile">
						<div
							data-ng-model="User"
							data-ng-show="User.userState==='loggedIn'"
							data-ng-if="userViewSwitch==='Myaccount' " >

				  			<div class="userProfile">
				  			<li>Name: 		{{User.username}}</li>
				  			<li>Email: 		{{User.email}}</li>
				  			<li>Joined: 	{{User.createDate}}</li>
				  			<li>About You: 	{{User.userAbout}}</li>

				  			</div>
 						</div>
					</div>
			  	</div>



 				<div class='closeModal'
					data-ng-show="userViewSwitch==='Myaccount' ">
 					<a
	 					data-ng-click="userViewSwitch='None' ">
						Close Account Profile
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
