 <!-- LOGGED OUT FUNCTIONS -->

<div data-ng-switch on='User.profileMode'>

	 <div data-ng-switch-when="NEWREG">
		<reg-view></reg-view>
	</div>
 
	 <div data-ng-switch-when="Log">
		<login-view></login-view>
	</div>
 
	 <div data-ng-switch-when="recoverPassword">
		<pwd-recover></pwd-recover>
	</div>
 
	 <div data-ng-switch-when="recoverPassword">
		<pwd-loggedoutpwdreset></pwd-loggedoutpwdreset>
	</div>
 
	 <div data-ng-switch-when="facebook">
		<facebook-login></facebook-login>
	</div>
 
<!-- LOGGED IN FUNCTIONS -->

	 <div data-ng-switch-when="myAccount">
		<self-profile></self-profile>
	</div>

	 <div data-ng-switch-when="deleteaccount">
	 	 <delete-account></delete-account>
	</div>
 
	 <div data-ng-switch-when="passwordreset">
	 	 <password-reset></password-reset>
	</div>

<!-- LOGGED IN OR OUT FUNCTIONS -->
 
	 <div data-ng-switch-when="otherprofile">
		<otherprofile></otherprofile>
	</div>

</div>


