<div class="row dayContainer notMyDay"> <!-- open row tag -->



    <div class="col left-align dayItem dayformBox"> <!-- open column one -->
        <!-- Begin conditional for not my day -->

        <div class="dayadvert">Check Out This Perfect Day</div>

        <div class="daytitle">{{Day.chosenDay.data[0].dayName}}</div>

        <div class="daydesc">{{Day.chosenDay.data[0].dayDesc}}</div>

        <div data-ng-click="Day.getUserProfile(Day.chosenDay.data[0].userName);">by&nbsp;<a href="">{{Day.chosenDay.data[0].userName}}</a>
        </div>

        <div class="daydate">{{Day.chosenDay.data[0].dayDate}}</div>

        <div class="teenfriendly">
            <input type="checkbox" class="checkBox" id="teenCheckbox" data-ng-model="day.dayTeen"
                   data-ng-checked="{{Day.chosenDay.data[0].dayTeen}}"/>
            <label for="teenCheckbox">Teen friendly?
            </label>
        </div>

        <div class="kidfriendly">
            <input type="checkbox" class="checkBox" id="kidCheckbox"
                   data-ng-checked="{{Day.chosenDay.data[0].dayChild}}"/>
            <label for="kidCheckbox">Kid friendly?
            </label>
        </div>

        <!-- LOCATION controller begin-->
        <!-- 	<
        div data-ng-controller="locationController as Location" class="form-group controller" style="margin:10px 0;"> -->
        <div class="locationlist" data-ng-repeat="Location in Day.chosenDay.data[0].locations">
            <location-list></location-list>
        </div>
        <!-- 	</div>
         -->    <!-- END LOCATION CONTROLLER -->

        <div class="taglist">Tags: {{Day.chosenDay.data[0].dayTags}}</div>

        <button class="btn btn-default" data-ng-click="User.userViewSwitch='grid'" type="submit">Return home</button>

    </div> <!-- close column 1 -->


    <div class="col left-align dayItem mapBox"> <!-- open column 2 -->

        <div id="map-canvas" class="mapPosition"></div>

    </div> <!-- close column 2 -->

</div>
<!--close notMyDay-->
