<!-- 
<div ng-show="Days.length>0">{{Day.length}}
<h5>Great Days Shared by Our Community</h5>
</div>

<div ng-show="Days.length=0"> nothing 
</div> -->

<div class="bestDaysFrame">
 	<div data-ng-repeat="day in Day.days" class='singleDayDisplay showbox'> 
  		<div data-ng-click = "Day.showOneDay(day._id)" style ='cursor: pointer;' >
		 	<div class='title'> 	{{ 	day.dayName }}</div>
		 	<div class='tags'>		{{	day.dayTags}}</div>
			<div class='description'> Description:&nbsp;{{	day.dayDesc}}</div>
			<div class='whowasthere'> Who was there?&nbsp; {{	day.dayGroup}}</div>
			<div class='daydate'>When?&nbsp;{{ 	day.dayDate}}</div>
			<div class='user'>By:&nbsp;{{day.userName }}</div>
			<div class ='photo'> photo here</div> 
			
 		</div>	
	</div>
</div>
 