<div class="bestDaysFrame" style="height:100%;">
 	<div data-ng-repeat="day in Day.days" class="singleDay"> 
  		<div data-ng-click = "Day.showOneDay(day._id)">
		 	<div class="title">{{day.dayName }}</div>
		 	<div class="user">{{day.userName }}</div>
		 	<div class="daydate">{{day.dayDate}}</div>

		 	<div class="description">{{day.dayDesc}}</div>

			<div class="whowasthere">
			<div>Teen friendly? [checkbox]</div>
			<div>Kid friendly? [checkbox]</div>
			</div>
			<div data-ng-repeat="location in day.locations track by $index">
				<div class="location">
				<div class="locationName">{{location.location}}</div>
				<div class="locDesc">{{location.desc}}</div>
				<div data-ng-repeat="photo in location.photosThumb track by $index" style="display:inline;margin:0 5px;">
					<img src="{{photo}}"></img>
					</div>
				</div>
			</div>
 		</div>
 		<div class="tags">{{day.dayTags}}</div>
	
	</div>
</div>