
	


<div class="singleDayView"> 

		<button class="btn waves-effect waves-light right" type="submit" name="action" data-ng-click= "Day.updateDay(Day.chosenDay)" >Save Changes
 
    		<i class="material-icons right">send</i>
  		</button>

		<button class="btn waves-effect waves-light right" type="submit" name="action" 

		data-ng-click= "Day.closeSingleDayNoSave()"


		 >Close Without Saving 
    		<i class="material-icons right">send</i>
  		</button>


	<div class="singleDayTitle">
		<span data-make-editable class="editable">{{Day.chosenDay.dayName}}</span>
		<span>&nbsp;by&nbsp;{{ Day.chosenDay.userName }}</span>
		
	</div>
		 

		
	<div class="singleDayFrame">
		<div class='description1'>This was a great day for us because...&nbsp;
			<span data-make-editable class="editable">{{Day.chosenDay.dayDesc}}</span>
		</div>
		<div class='location1'>Where we went. 

			<div data-ng-repeat="x in Day.chosenDay.locations track by $index">
				<div class='tags1'>{{x.location}} - {{x.desc}}</div>
					<div data-ng-repeat="photo in x.photosLg track by $index" style="display:inline-block;margin:0 5px;">
					<img src="{{photo.url}}"></img>
				</div>
			</div>

		</div>

		<div class='tags1'>Tags: <span data-make-editable class="editable">{{Day.chosenDay.dayTags}}</span></div>
			<div class='whowasthere1'>Who was there? {{	Day.chosenDay.dayGroup}}</div>
		<div class='daydate1'>When? {{ 	Day.chosenDay.dayDate}}</div>

	

	
	</div>
</div>